<div class="p-5 mb-4 bg-light rounded-3">
  <div class="container-fluid py-5">
    <h1 class="display-5 fw-bold">GreatBoard</h1>
    <p class="col-md-8 fs-4">A great place to share ideas.</p>
  </div>
</div>

<div class="row">
  <div class="col-md-6">
    <div class="h-100 p-5 bg-light border rounded-3">
      <h2>Posts</h2>
      <%= link_to "See posts", posts_url, class: "btn btn-outline-secondary" %>
    </div>
  </div>
  <div class="col-md-6">
    <div class="h-100 p-5 bg-light border rounded-3">
      <p><%= image_tag "nyan.gif", class: "img-fluid" %></p>
    </div>
  </div>
</div>