<%= turbo_frame_tag dom_id(post) do %>
  <p class="text-decoration-underline">
    <strong><%= post.title %></strong> by <%= post.user&.name || "Anonymous" %>
  </p>
  <p>
    <%= post.body %>
  </p>
<% end %>